*.yml
index.Rmd
*.tex
*.css
*.bib
*.log
*.rproj
.Rproj.user/
intro.Rmd
*.txt
.Rpro
.Rproj.user

rsconnect/

# Allow the book config files and entry points that the patterns above would otherwise ignore
!classic/_bookdown.yml
!classic/index.Rmd
!eternal/_bookdown.yml
!eternal/_output.yml
!eternal/index.Rmd
!eternal/rsconnect/

# Eternal build output
eternal/_book/
eternal/marrow_eternal_compendium.Rmd
eternal/*_files/
.Rhistory
!eternal/data/logs/*.txt
eternal/data/__pycache__/
!eternal/eternal.Rproj
eternal/data/logs/incoming/
